In [ ]:
#for this notebook I'm showing how these tables can be created from the base tables 
#through reading and extracting the data for each part and writing it back as a finished table

In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [2]:
def export_data_frame(sql:str, conn):
    df = pd.read_sql_query(sql, conn)
    return df

In [3]:
# Extract connection parameters and established connection for reading
db_config = {
    'user': 'avnadmin',
    'password': 'AVNS_4T0M1r4SdTxtoZAMUPL',
    'host': 'mysql-c314d3b-reveliolab-assignment1.e.aivencloud.com',
    'port': 24878,
    'database':'INGESTION',
    'ssl_disabled': False  # Enforces SSL connection
}

try:
    # Establish a connection
    conn_read = mysql.connector.connect(**db_config)
except mysql.connector.Error as err:
    print(f"Error: {err}")

In [15]:
#established connection for writing 
db_url = 'mysql+pymysql://avnadmin:AVNS_4T0M1r4SdTxtoZAMUPL@mysql-c314d3b-reveliolab-assignment1.e.aivencloud.com:24878/INGESTION'
engine = create_engine(
    db_url,
    connect_args={"ssl": {"ssl-ca": "../ca.crt"}} )

In [ ]:
### PART A

In [ ]:
sql = """
select * from position_history where ENDDATE is NULL;
"""
df = export_data_frame(sql, conn_read)
df_current = df[df['ENDDATE'].isna()]

In [28]:
df_current.to_sql('position_current', con=engine, if_exists='replace', index=False)

259629

In [ ]:
#### PART B

In [ ]:
sql = """ 
SELECT 
    p.SCRAPE_TS as SCRAPE_TS,
    p.USER_ID as USER_ID,
    p.URI as URI,
    p.POSITION_ID as POSITION_ID,
    p.COMPANY_RAW as COMPANY_RAW,
    p.COMPANYURI as COMPANYURI,
    p.TITLE_RAW as TITLE_RAW,
    p.LOCATION_RAW as LOCATION_RAW,
    p.DESCRIPTION as DESCRIPTION,
    p.STARTDATE as STARTDATE,
    p.ENDDATE as ENDDATE,
    p.SEQUENCENO as SEQUENCENO,
    p.ORDER_IN_PROFILE as ORDER_IN_PROFILE,
    -- Adding fields from location_mapper_v3
    lm.CITY as CITY,
    lm.STATE as STATE,
    lm.STATE_ABBR as STATE_ABBR,
    lm.COUNTRY as COUNTRY,
    lm.METRO_AREA as METRO_AREA,
    lm.REGION_NAME as REGION_NAME,
    -- Adding RCID from company2rcid
    c.RCID as RCID
FROM position_current p
LEFT JOIN location_mapper_v3 lm ON p.LOCATION_RAW = lm.LOCATION
LEFT JOIN company2rcid c ON p.COMPANY_RAW = c.COMPANY;
"""
df = export_data_frame(sql, conn_read)

In [34]:
df.to_sql('individual_position', con=engine, if_exists='replace', index=False)

352311

In [10]:
#PART C

sql = """ 
SELECT * FROM individual_position;
"""
df = export_data_frame(sql, conn_read)

/var/folders/t2/1nrqfd6x68gbp20pbwfzktv80000gn/T/ipykernel_23436/2898789021.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

In [ ]:
# Sort data by USER_ID and STARTDATE

df = df.sort_values(by=['USER_ID', 'STARTDATE', 'ORDER_IN_PROFILE'])
df = df.drop_duplicates(subset=['USER_ID', 'POSITION_ID', 'STARTDATE'])


# Create the transition dataset by shifting rows within each USER_ID
df["prev_POSITION_ID"] = df.groupby("USER_ID")["POSITION_ID"].shift(1)
df["prev_COMPANY_RAW"] = df.groupby("USER_ID")["COMPANY_RAW"].shift(1)
df["prev_COMPANYURI"] = df.groupby("USER_ID")["COMPANYURI"].shift(1)
df["prev_TITLE_RAW"] = df.groupby("USER_ID")["TITLE_RAW"].shift(1)
df["prev_LOCATION_RAW"] = df.groupby("USER_ID")["LOCATION_RAW"].shift(1)
df["prev_DESCRIPTION"] = df.groupby("USER_ID")["DESCRIPTION"].shift(1)
df["prev_STARTDATE"] = df.groupby("USER_ID")["STARTDATE"].shift(1)
df["prev_ENDDATE"] = df.groupby("USER_ID")["ENDDATE"].shift(1)
df["prev_SEQUENCENO"] = df.groupby("USER_ID")["SEQUENCENO"].shift(1)
df["prev_ORDER_IN_PROFILE"] = df.groupby("USER_ID")["ORDER_IN_PROFILE"].shift(1)
df["prev_CITY"] = df.groupby("USER_ID")["CITY"].shift(1)
df["prev_STATE"] = df.groupby("USER_ID")["STATE"].shift(1)
df["prev_STATE_ABBR"] = df.groupby("USER_ID")["STATE_ABBR"].shift(1)
df["prev_COUNTRY"] = df.groupby("USER_ID")["COUNTRY"].shift(1)
df["prev_METRO_AREA"] = df.groupby("USER_ID")["METRO_AREA"].shift(1)
df["prev_REGION_NAME"] = df.groupby("USER_ID")["REGION_NAME"].shift(1)
df["prev_RCID"] = df.groupby("USER_ID")["RCID"].shift(1)

# Remove rows where there's no previous position (i.e., first job)
df_transitions = df.dropna(subset=["prev_POSITION_ID"])

# Rename current columns for clarity
df_transitions = df_transitions.rename(columns={
    "POSITION_ID": "new_POSITION_ID",
    "COMPANY_RAW": "new_COMPANY_RAW",
    "COMPANYURI": "new_COMPANYURI",
    "TITLE_RAW": "new_TITLE_RAW",
    "LOCATION_RAW": "new_LOCATION_RAW",
    "DESCRIPTION": "new_DESCRIPTION",
    "STARTDATE": "new_STARTDATE",
    "ENDDATE": "new_ENDDATE",
    "SEQUENCENO": "new_SEQUENCENO",
    "ORDER_IN_PROFILE": "new_ORDER_IN_PROFILE",
    "CITY": "new_CITY",
    "STATE": "new_STATE",
    "STATE_ABBR": "new_STATE_ABBR",
    "COUNTRY": "new_COUNTRY",
    "METRO_AREA": "new_METRO_AREA",
    "REGION_NAME": "new_REGION_NAME",
    "RCID": "new_RCID",
})

df_transitions = df_transitions[df_transitions['prev_POSITION_ID'] != df_transitions['new_POSITION_ID']]

In [16]:
df_transitions.to_sql('transition_unique_base', con=engine, if_exists='replace', index=False)

25307